---
import Layout from "../../layouts/Layout.astro";
import Subtitle from "@/components/ui/Subtitle.astro";
import CardProject from "./components/CardProject.astro";

import { getCollection } from "astro:content";
const allProjects = await getCollection('projects')
---

<Layout title="Projects - Luis Montiel">
    <main class="mt-5">
        <Subtitle subtitle="Projects" />
        <div class="mt-5">
            {
                allProjects.map((project) => (
                    <CardProject project={project} />
                ))
            }
        </div>
    </main>  
</Layout>