---
import Layout from '../layouts/Layout.astro';

import ProfileSection from '@/components/sections/ProfileSection.astro';
import ProjectsSection from '@/components/sections/ProjectsSection.astro';
import ExperiencesSection from '@/components/sections/ExperiencesSection.astro';
import ContactSection from '@/components/sections/ContactSection.astro';
---

<Layout title="Luis Montiel - Portfolio">
	<main class="flex flex-col gap-10 mt-5">
		<ProfileSection />
		<ProjectsSection />
		<ExperiencesSection />
		<ContactSection />
	</main>
</Layout>