---
import { basics } from "@cv"


const { name, label, summary } = basics
---
<section class="flex flex-col gap-4">
    <div class="flex flex-col justify-center items-center gap-4 text-center">
        <span class="px-2 text-xs font-semibold py-1 text-white rounded bg-black">Welcome to my portfolio</span>
        <div class="flex flex-col items-center">
            <p class="text-3xl sm:text-4xl font-extrabold capitalize">Hi, I'm { name.split(' ')[0] } { label }</p>
        </div>
        <div class="w-full max-w-sm flex flex-col items-center">
            <p data-tooltip="Tooltip content" class="text-sm text-neutral-500">{ summary }</p>
        </div>
    </div>
</section>