---
import Layout from '../layouts/Layout.astro';

import ProfileSection from '@/components/system/ProfileSection.astro';
import ProjectsSection from '@/components/system/ProjectsSection.astro';
import ExperiencesSection from '@/components/system/ExperiencesSection.astro';

---

<Layout title="Luis Montiel - Portfolio">
	<main class="flex flex-col gap-12">
		<ProfileSection />
		<ProjectsSection />
		<ExperiencesSection />
	</main>
</Layout>