---
interface Props {
	title: string;
}

import '@fontsource/source-serif-pro/200.css'
import '@fontsource/source-serif-pro/300.css'
import '@fontsource/source-serif-pro/400.css'
import '@fontsource/source-serif-pro/600.css'
import '@fontsource/source-serif-pro/700.css'
import '@fontsource/source-serif-pro/900.css'
import '@fontsource-variable/jetbrains-mono';


import Navbar from '@/components/system/Navbar.astro';

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>

	</head>
	<body>
		<div class="w-full md:max-w-2xl mx-auto px-4 grid min-h-[100dvh] grid-rows-[auto_1fr_auto]">
			<Navbar />
			<slot />
			<footer class="my-5 space-y-2">
				<div>
	
				</div>
				<hr>
				<div>
					<p class="text-neutral-500 text-sm">© 2024 Luis Montiel. All rights reserved.</p>
				</div>
			</footer>
		</div>
		<script>
			import tippy from 'tippy.js';
			import 'tippy.js/dist/tippy.css';
			import 'tippy.js/animations/shift-away.css';
		
			tippy('[data-tippy-content]', {
				animation: 'shift-away',
			});
		 </script>
	</body>
</html>
<style lang="scss" is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
		--background: #FAF9F6;
		--accent-backgroud-200: rgba(244, 242, 238, 1);
		--accent-background-400: rgba(244, 242, 238, 1);
		--accent-background-600: rgba(232, 229, 223, 1);
	}

	body::-webkit-scrollbar {
		display: none; /* Chrome, Safari y Edge */
	}

	html {
		background: var(--background);
	}
</style>
