---
const { pathname } = Astro.url

const routes = [
    {
        id: 1,
        name: "Home",
        href: "/",
        active: pathname === "/"
    },
    {
        id: 2,
        name: "Projects",
        href: "/projects",
        active: pathname === "/projects"
    },
    {
        id: 3,
        name: "About",
        href: "/about",
        active: pathname === "/about"

    }
]

import Github from '@/components/icons/Github.astro'
import Linkedin from '@/components/icons/Linkedin.astro'

import { basics } from '@cv'

const { profiles } = basics

const SOCIAL_ICONS: Record<string, any> = {
    Github, Linkedin
}
---
<div class="">
    <div class="w-full py-4 flex items-center justify-between">
        <ul class="flex items-center gap-4 text-xs font-medium">
            {
               routes.map((route) => (
                <li>
                    <a href={route.href} class={`${route.active ? 'underline' : 'hover:underline'}`}>{route.name}</a>
                </li>
                ))
            }
        </ul>
        <div class="flex items-center gap-4">
            <div class="flex items-center gap-2">
                {
                    profiles.map((social) => {
                        const Icon = SOCIAL_ICONS[social.network]
                        return (
                            <a href={social.url} data-tippy-content={`${social.network} Profile`} target="_blank" class="w-7 h-7 rounded-md bg-[var(--accent-backgroud-200)] flex items-center justify-center">
                                <Icon />
                            </a>
                        )
                    })
                }
            </div>
        </div>
    </div>
</div>