---
import Badge from "@/components/ui/Badge.astro";


---
<section class="pt-10 flex flex-col gap-4">
    <div class="w-24 h-24 bg-cover rounded-full" style="background-image: url(/public/github-profile.webp);" />
    <div class="flex flex-col justify-center gap-2">
        <div class="flex flex-col">
            <p class="text-xs text-neutral-500">Currently Working</p>
            <h2 class="text-4xl font-bold">Luis Montiel</h2>
            <p class="text-xl">Software Developer</p>
        </div>
        <div class="flex flex-col gap-2 w-full max-w-sm">
            <p class="text-xs text-neutral-500">Welcome! I'm Luis Montiel, junior software developer specialized in creating modern and efficient solutions. Explore my projects and get to know my work, if you need me just get in touch.</p> 
        </div>
    </div>
</section>